.content__video-card-title {
  margin-block-end: 4px;
  overflow: hidden;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  line-height: 110%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}
