.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  inline-size: fit-content;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid rgb(255, 255, 255, 0.6);
  outline-offset: 2px;
}

.search-form__checkbox-list .search-form__label:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__checkbox-list .search-form__label:active {
  text-decoration: none;
}
